# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
env/
venv/

# SQLite baze
*.db
*.sqlite3

# Flask instance folder
instance/

# Web assets
.webassets-cache

# VS Code i drugi editori
.vscode/
*.swp

# OS fajlovi
.DS_Store
Thumbs.db

# Tilt i Docker fajlovi koje ne želiš da se keširaju
Tiltfile
docker-compose.dev.yml
*.zip
*.tar
*.tar.gz
